---
import Base from "../layouts/Base.astro";

import { getMinecraftLauncherManifest } from "~/components/minecraft";

const vanillaManifest = await getMinecraftLauncherManifest();

function remapType(type: string): string {
	switch (type) {
		case "release":
			return "release";
		case "snapshot":
			return "snapshot";
		case "old_alpha":
			return "alpha";
		case "old_beta":
			return "beta";
		default:
			return type;
	}
}

---

<Base>
	<div class="version-box">
	<div>
		<div>
			<a href={`/version/latest`}><span class="version-type">{remapType("release")}</span>Latest - {vanillaManifest.latest.release}</a>
		</div>
		<div>
			<a href={`/version/snapshot`}><span class="version-type">{remapType("snapshot")}</span>Latest - {vanillaManifest.latest.snapshot}</a>
		</div>
		
	</div>
	<hr/>
	<div>

		{
			vanillaManifest.versions.map((version) => (
				<div data-version={version.id}>
					<a href={`/version/${version.id}`}><span class="version-type">{remapType(version.type)}</span>{version.id}</a>
				</div>
			))
		}
	</div>
</div>

	<style>
	.version-box {
		margin: 1em;
	}
		.version-type {
			
			text-transform: capitalize;
			width: 6em;
			display: inline-block;
			font-weight: bold;
			text-align: right;
			margin-right: 1em;
		}
		.version-type:hover {
			text-decoration: underline;
		}
	</style>

	
</Base>
